[Unit]
Description=Automount backup partition
# ConditionPathExists=${HOME}/mnt/sshfs

[Mount]
What=discovery
Options=_netdev,allow_other,IdentityFile=/home/mcarifio/.ssh/keys.d/localdomain/mcarifio@zendeavor4mcarifio@discovery_id_rsa,reconnect,x-systemd.automount,uid=1000,gid=1000
Where=/home/mcarifio/mnt/sshfs/discovery
Type=fuse.sshfs
TimeoutIdleSec=10


[Install]
WantedBy=multi-user.target