[alias]
    # removes changes to file in workspace (checks out the latest commit)
    revert = checkout HEAD --
    unstage = reset HEAD --
    last = log -1 HEAD

    # change workspace
    co = checkout
    cob = checkout -b
    # 'git switch <branch>' switches to a <branch> if it exists
    switch = checkout
    sw = checkout

    # log
    sg = log --graph --abbrev-commit --pretty=oneline
    root = "rev-parse --show-toplevel"
    s = status
    stage = add # 'git stage <files>' stages files for the next commit
    staged = status  ## 'git staged' tells you what's staged for the next commit
    #alias = config --get-regexp ^alias\.
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph
    h = hist
    vis = !qgit
    replay = rebase
    path = !echo $PATH | tr ':' '\n'
    br = branch
    #     ^^^^^ no quotes
    make = !make -C ~/.config/git/git.config.d
    
