# systemctl --user daemon-reload  ## if you change this file
# systemctl start --user dump-systemd-path-user  ## or start
# systemctl status --user dump-systemd-path-user # relevant information in status

# Note: this may be overkill. Running systemd-path search-binaries at the command line may be sufficient

[Unit]
Description=dump-systemd-path-user

[Service]
Type=forking
# ExecStart=systemd-path > /tmp/%N.log
ExecStart=systemd-path search-binaries
TimeoutStartSec=0
