[core]
    # editor = emacs
    # type ec => ec is ${BASHENV}/bin/ec, a wrapper for emacsclient
    editor = ec
    # default is ~/.config/git/ignore per https://git-scm.com/docs/gitignore
    # comment out this line to get that, otherwise make ignore in git.ignore.d
    # @inspect: git config --show-origin --get core.excludesFile
    # excludesFile = ~/.config/git/git.ignore.d/ignore
