# DO NOT COMMIT OR PUSH

# https://git-scm.com/docs/gitcredentials
# seahorse?

[credential]
	helper = cache --timeout=3600

# https://developer.github.com/v3/
# [credential "https://api.github.com"]
#   username = mcarifio
#   # oauth 2 token
#   token = 160fbce1b298130e51a126d4f8639c773ef2e4b8

# %u is username e.g. `mcarifio` or `m00nlit-mcarifio`
# %t is the associated api token value
[credential "template"]
gh = "https://github.com/%u"
gl = "https://gitlab.com/%u"
ea = "https://gitea.com/%u"
bb = "https://x-token-auth:%t@www.bitbucket.org"

# For each gh username (suffix on url)
# TODO mike@carif.io: orgs too?
[credential "gh.mcarifio"]
  username = mcarifio
  # oauth 2 token
  token = d58415ffb1da6f9f862e9ee43b2b70f4939c4ab5

[credential "gh.m00nlit-mcarifio"]
  username = m00nlit-mcarifio
  # oauth 2 token
  token = tbs

[credential "gh.ccg-mcarifio"]
  username = ccg-mcarifio
  # oauth 2 token
  token = 65f93a9b2ee510be92f71f34c9880365df4c40c4

# https://gitlab.com/mcarifio
# https://gitlab.example.com/api/v4
# https://docs.gitlab.com/ee/api/
[credential "gl.mcarifio"]
  username = mcarifio
  token = tbs


# https://developer.atlassian.com/bitbucket/api/2/reference/meta/authentication
# https://x-token-auth:*@www.bitbucket.org/mcarifio
[credential "bb.mcarifio"]
  username = mcarifio
  token = tbs

# https://docs.gitea.io/en-us/api-usage/
# https://www.gitea.com/mcarifio
[credential "ea.mcarifio"]
  username = mcarifio
  token = tbs

