[user]
    name = Mike Carifio
    email = forward+git@carif.io

[account "gh.mcarifio"]
    name = Mike Carifio
    # modify for a specific repository in ~/.git/config:user.email
    email = forward+git@carif.io

[account "gh.m00nlit-mcarifio"]
    name = Mike Carifio
    email = mike@m00nlit.com

[account "gh.ccg-mcarifio"]
    name = Mike \"mikec\" Carifio
    email = forward+ccg-mcarifio@carif.io
