# @mike@carif.io: [better approach?](https://stackoverflow.com/questions/34119866/setting-up-and-using-meld-as-your-git-difftool-and-mergetool)
[diff]
    compactionHeuristic = true
    tool = meld

[difftool]
    # type git-meld => git-meld is /home/mcarifio/bashenv/bin/git-meld
    # external = git-meld
    prompt = false

# usage:
# git difftool <COMMIT_HASH> file_name
# git difftool <BRANCH_NAME> file_name
# git difftool <COMMIT_HASH_1> <COMMIT_HASH_2> file_name
[difftool "meld"]
    cmd = meld \"${LOCAL}\" \"${REMOTE}\"    

[merge]
    tool = meld
    conflictStyle = diff3

[mergetool "meld"]
    cmd = meld \"${LOCAL}\" \"${MERGED}\" \"${REMOTE}\" --output \"${MERGED}\"

